<hr>
<p id="nomevent"><%= @un_evento.nombre %></p>
<p id="perqasis">PERSONAS QUE ASISTEN: </p>
<%acumtotal = 0%>
<% @personitas.each do |persona| %>
<%acum = 0%>
    <% if persona.evento_id == @un_evento.id %>
        <p><strong><%= persona.nombre %></strong>
            <% @moneda.each do |gastado| %>
                <% if gastado.persona_id == persona.id%>
                    <p>$<%= gastado.dinero%> en <%= gastado.descripcion%></p>
                    <% acum += gastado.dinero%>
                    <%acumtotal += acum%>
                <%end%>
            <%end%>
            <p id="entotal">gasto $<%= acum %> en total</p>
        </br><p>
    <% end %>
<% end %>
<h2> Total gastado: $<%= acumtotal%></h2>